@* @model IEnumerable<ShopApp.Entities.Product> *@
@model ShopApp.WebUI.Models.ProductListModel

@{
    Layout = null;
}

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
        @* modules node_modules'i olustururken vermiş olduğumuz takma isim.' *@
        <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        @foreach (var item in Model.Products)
    {
        <p>@item.Name</p>
    }
    </body>
</html>